/* Estilo geral */
* {
    box-sizing: border-box;
    font-family: 'Poppins', "Cal Sans", sans-serif;
}

/* Fundo com imagem e gradiente */
body {
    overflow: hidden;
    background: 
        linear-gradient(to bottom right, rgba(0, 80, 255, 0.4), rgba(255, 180, 0, 0.4)),
        url('../img/fundo-login-cadastro.png') no-repeat center center/cover;
    height: 100vh;
    display: flex;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.05);
    text-align: center;
    color: white;
    width: 100%;
    height: 100%;
    flex-direction: column;
}

/* Cabeçalho */
header {
    margin-top: 20px;
}

.slogan {
    font-size: 1.1rem;
    font-weight: 500;
    color: #ffffff;
}

/* Conteúdo principal */
.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo-section {
    display: flex;
    justify-content: center; 
    align-items: center;    
    flex-direction: column; 
}

.logo-section img {
    width: 120px;
    margin-bottom: 10px;
}

.logo-section h1 {
    font-size: 2.5rem;
    color: #003366;
}

.highlight {
    color: #00bfa6;
}

.subtitle {
    color: #1d3557;
    font-weight: 600;
    letter-spacing: 2px;
}

/* Botões */
.buttons {
    position: fixed;
    display: flex;
    gap: 30px;
    margin-top: 460px;
    gap: 100px;
    z-index: 10;
}

.btn {
    margin-top: 25px;
    padding: 30px 40px;
    border: none;
    border-radius: 20px;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    transition: 0.3s;
    font-family: "Open Sans";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.volunteer {
    background-color: #47e0db;
    color: #ffffff;
}

.company {
    background-color: #3a9cff;
    color: #ffffff;
}

.btn:hover {
    transform: scale(1.05);
    opacity: 0.9;
}

/* Faz o container do footer cobrir toda a parte de baixo */
.container {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 -5px 15px rgba(0,0,0,0.2);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 1;
    padding-top: 100px;
}

/* Opcional: estilo do texto dentro do footer */
footer p {
  margin-top: 100;
  font-size: 14px;
  color: #333;
}

/* Opcional: responsividade */
@media (max-width: 500px) {
  .buttons {
    flex-direction: column;
    gap: 15px;
    bottom: 40px;
  }
}


