* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden; 
    background-image: url('../img/fundo-cadastro-empresa.png');
    background-size: cover; 
    background-repeat: no-repeat; 
    background-position: center;
    }

.registro-container {
    display: flex;
    width: 100%;
    height: 100vh; 

}

.registro-panel {
    flex-basis: 40%;
    background: linear-gradient(to bottom, hsla(16, 100%, 60%, 0.70), hsla(175, 100%, 49%, 0.70));
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;     
    padding: 20px; 
    color: #ffffff;
    height: 100%; 
}

.registro-form {
    width: 100%;
    max-width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -30px;
}

.registro-form h2 {
    font-weight: 700;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.input-group {
    width: 100%;
    margin-bottom: 15px;
}

.registro-form input,
.registro-form button {
    width: 100%;
    padding: 12px 20px;
    border: none;
    border-radius: 50px;
    font-size: 1em;
    font-family: 'Montserrat', sans-serif;
}

.registro-form input {
    background-color: #004d40;
    color: white;
}

.registro-form input::placeholder {
    color: rgba(255, 255, 255, 0.8);
}

.registro-form button {
    background-color: #004d40;
    color: white;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 10px;
}

.registro-form button:hover {
    background-color: #00695c;
}

.decorative-panel {
    flex-basis: 60%;
    height: 100%; /* ocupa tela inteira */
}

.button-group {
    display: flex;
    justify-content: center; /* centraliza o grupo */
    align-items: center;
    gap: 10px; /* espaço entre os botões */
    width: 100%;
}

.button-group button {
    flex: 1; /* deixa ambos com o mesmo tamanho */
    max-width: 140px; /* evita que fiquem grandes demais */
    background-color: #004d40;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 12px 20px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.button-group button:hover {
    background-color: #00695c;
}


@media (max-width: 768px) {
    .registro-container {
        flex-direction: column;
    }

    .registro-panel {
        flex-basis: 100%;
        height: 100%; /* ocupa tela toda */
        width: 100%;
        padding: 20px;
    }

    .decorative-panel {
        display: none;
    }
}